> .body-cont {
  @include unpin-top($header-height);
  left: $space-left + $segment-width;

  > .body {
    > .row {
      @include row-style;
      width: 100%;

      &.hover,
      &.selected {
        > .measure {
          > .background {
            background-color: #bae3f7;
            border-top: 1px solid #a6cfe3;
            border-bottom: 1px solid #a6cfe3;
          }
        }
      }

      > .measure {
        white-space: nowrap;
        padding-left: 6px;

        overflow: hidden;
        padding-top: 8px;

        display: inline-block;
        width: $measure-width;
        height: calc(100% + 2px);
        margin-top: -1px;

        &.all-alone {
          width: 100%;
        }


        > .background {
          position: absolute;
          top: 0;

          height: 100%;

          background-color: #d2edfa;
          border-top: 1px solid #bfd5df;
          border-bottom: 1px solid #bfd5df;
        }

        > .label {
          padding-left: 4px;
        }
      }
    }
  }
}
