@import '../../imports';

$header-height: 38px;
$segment-width: 300px;
$measure-width: 136px;
$row-height: 30px;
$space-left: 10px;

$header-padding-top: 12px;

.table {

  // Used for both row (i.e. body rows) and segments
  @mixin row-style {
    position: absolute;
    height: $row-height;
    border-bottom: 1px solid $border-extra-light;
    left: 0;

    &.hover {
      background: $hover;
    }

    &.selected {
      background: $hover;
    }

    &.not-selected {
      &:after {
        @include pin-full;
        background: $white;
        opacity: 0.5;
        content: '';
      }
    }
  }

  .corner {
    position: absolute;
    left: $space-left;
    top: 0;
    width: $segment-width;
    height: $header-height;
    overflow: hidden;
    padding: $header-padding-top 0 0 6px;
    border-bottom: 1px solid $border-extra-light;

    .sort-arrow {
      right: 2px;
    }
  }

  .simple-table {
    @import './header';
    @import './segments'; // first, left column of the table
    @import './body'; // actual values
    @import './post-body'; // v-scroll shadow, highlighter...

    > .horizontal-scroll-shadow {
      height: $header-height;
    }
  }
}

