@import '../../imports';

$segment-width: 300px;
$measure-width: 100px;

.table {
  @include pin-full;
  overflow: hidden;

  .sort-arrow {
    position: absolute;
    top: 12px;
    width: 8px;

    &.ascending {
      transform: rotate(180deg);
    }
  }

  .corner {
    position: absolute;
    left: $space-left;
    top: 0;
    width: $segment-width;
    height: $table-header-height;
    overflow: hidden;
    padding: $table-header-padding-top 0 0 6px;
    border-bottom: 1px solid $border-extra-light;

    .sort-arrow {
      right: 2px;
    }
  }

  .simple-table {
    .header-cont {
      left: $space-left + $segment-width;
    }

    .body-cont {
      left: $space-left + $segment-width;
    }

    .measure-name,
    .measure {
      width: $measure-width;
    }
  }


  .segments-cont {
    position: absolute;
    left: $space-left;
    top: $table-header-height;
    bottom: 0;
    width: $segment-width;
    overflow: hidden;
  }

  .highlight-cont {
    position: absolute;
    left: $space-left;
    right: 0;
    top: $table-header-height;
    bottom: 0;
    overflow: hidden;

    .highlighter {
      right: 0;
      height: $row-height + 1;
      margin-top: -1px;
      border: 1px solid $white;

      &:after {
        @include unpin-full(-1px);
        content: '';
        border: 1px dashed $highlight-border;
      }
    }
  }

  .vertical-scroll-shadow {
    position: absolute;
    left: $space-left;
    top: 0;
    bottom: 0;
    width: $segment-width;
    box-shadow: 4px 0 4px -3px hsla(0, 0, 0, 0.2);
  }

  .highlight-controls {
    position: absolute;
    right: 20px;
  }

  .not-selected {
    &:after {
      @include pin-full;
      background: $white;
      opacity: 0.5;
      content: '';
    }
  }
}
