@import '../../imports';

.simple-list {
  overflow: auto;

  .row {
    display: flex;
    padding: 10px;

    &:not(:first-child) {
      border-top: 1px solid $border-light;
    }

    > * {

    }

    .svg-icon {
      width: 20px;
      height: 20px;
      margin-top: 6px;
    }

    .text {
      flex: 1 1;
      padding: 0 10px;

      .title {
        font-size: 1.2em;
        color: $text-medium;
        margin-bottom: 4px;
      }

      .description {
        color: $text-lighter;
        font-size: 0.9em;
      }
    }

    .actions {
      button {
        @extend %button-light;
      }
    }
  }
}
