@import '../../imports';

.dropdown {
  cursor: pointer;
  white-space: nowrap;
  pointer-events: none;

  &:hover {
    .caret-icon {
      path {
        fill: $text-light;
      }
    }
  }

  &.down .dropdown-menu {
    top: 100%;
  }

  &.up .dropdown-menu {
    bottom: 100%;
  }

  .selected-item {
    @extend %input-cont;
    @include ellipsis;
    display: block;
    pointer-events: auto;
    height: $input-height;
    padding: 8px 22px 0 6px;
  }

  .dropdown-label {
    @extend %input-top-label;
  }

  .caret-icon {
    position: absolute;
    width: 11px;
    height: 9px;
    right: 9px;
    bottom: 9px;

    path {
      fill: $text-lighterish;
    }
  }
}
