@import '../../imports';

.settings-view {
  $left-panel-width: 170px;

  $title-bar-height: 60px;

  .home-header-bar {
    @include pin-top($header-height);
  }

  .left-panel {
    @include unpin-top($header-height);

    width: $left-panel-width;
    padding: 10px 5px;

    background-color: $background-brand-light;

    button {
      background-color: transparent;
      display: block;
      width: 100%;
      margin-bottom: 10px;
      text-align: left;

      &.active {
        background-color: $brand;
        color: $white;
      }

      &.icon {
        padding-left: 25px;

        .svg-icon {
          position: absolute;
          top: 6px;
          left: 3px;
        }
      }
    }
  }

  .main-panel {
    @include unpin-top($header-height);
    left: $left-panel-width;
    background-color: $white;

    > * {
      height: 100%;

      .title-bar {
        height: $title-bar-height;
        background-color: $white;
        border-bottom: 1px solid $border-light;
        margin-bottom: 20px;
        padding-left: 20px;

        .title {
          font-size: 1.8em;
          margin-top: 16px;
        }

        .button {
          position: absolute;
          top: 12px;
          right: 10px;
        }

        > * {
          display: inline-block;
        }
      }

      .main {
        @include unpin-top($title-bar-height);

        padding: 20px 30px;
      }
    }
  }
}
