@import '../../imports';

.dropdown-menu {
  @extend %menu-cont;
  position: absolute;
  pointer-events: auto;
  z-index: 800;
  padding: 8px 0;
  width: 100%;
  line-height: 24px;
}

.dropdown-item {
  @include ellipsis;
  padding: 0 10px;
  cursor: pointer;

  &.selected {
    background: $background-light;
  }

  &:hover {
    background: $hover;
  }
}
