@import '../../imports';

.home-view {
  .home-header-bar {
    @include pin-top($header-height);
  }

  .container {
    @include unpin-top($header-height + 30px);
    left: 50%;
    transform: translate(-50%);

    .datacubes {
      > .title {
        text-transform: uppercase;
        color: $brand;
        margin-bottom: 20px;
        font-size: 1.4em;
      }

      .cubes-container {
        display: flex;
        flex-wrap: wrap;

        .item-card {
          flex: 1 0;
          min-width: 280px;

          &.empty {
            height: 0;
            opacity: 0;
          }
        }
      }
    }
  }
}
