@import '../../../imports';

.data-cube-edit {
  $tabs-column-width: 200px;
  height: 100%;

  .content {
    padding: 0;

    .tabs {
      position: absolute;
      top: 0;
      bottom: 0;
      width: $tabs-column-width;

      border-right: 1px solid $border-light;

      padding: 10px 5px;

      button,
      .button {
        @extend %button-light;

        display: block;
        width: 100%;
        padding: 10px 15px;
        text-align: left;
      }
    }

    .tab-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: $tabs-column-width;

      .list {
        width: 500px;
        padding: 5px 30px;
        position: absolute;
        top: 0;
        bottom: 0;

        .list-title {
          display: flex;
          height: 40px;
          padding: 15px 12px;

          .label {
            flex: 1 1;

            color: $text-lighter;
            text-transform: uppercase;
          }

          .actions {

            button {
              @extend %button-light;
              text-transform: uppercase;
              color: $brand;

              &:not(:last-child) {
                margin-right: 15px;
              }
            }
          }
        }

        .simple-list {
          height: 100%;
          width: 100%;
        }
      }

      form {
        width: 400px;
        padding: 20px 30px 5px 30px;
      }


    }
  }

}
