@import '../../imports';

$action-padding: 12px;
$icon-size: 30px;

.drop-indicator {
  .white-out {
    @include unpin-full(8px);
    background: rgba($border-darker, 0.14);
    border-radius: 4px;
  }

  .action {
    position: absolute;
    display: inline-block;
    padding: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba($white, 1);
    border-radius: 4px;

    svg {
      width: $icon-size;
    }

    path {
      fill: $border-darker;
    }
  }
}
