@import '../../imports';

.nav-logo {
  padding-left: $nav-padding;
  padding-right: $nav-padding;

  .logo {
    height: 60px;
    overflow: hidden;

    svg {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      height: 31px;
    }
  }
}
