@import '../../imports';

.number-range-picker {
  margin: $padding-mini 0;

  .range-bar {
    position: absolute;
    top: 6px;
    height: 6px;

    &.left,
    &.right {
      background-color: $background-medium;
    }

    &.middle {
      background-color: $brand;
    }
  }

  .range-handle {
    display: inline-block;
  }

  .loader,
  .query-error {
    @include pin-full;
  }
}
